
	body{
		font-family: Arial;
	    margin: 5px 100px 10px 100px;
	    padding: 0;
	    color: white;
	    text-align: center;
	    background: #555; /*#555652;*/
	}

	.col4{
	   margin: 0 auto;
	   width: 95%;
	   margin-top: 1rem;
       padding: 10px 10px;
	}

	.two-div{
	   display: flex;
	   flex-direction: row;
	   flex-wrap: nowrap;
	   justify-content: center;
	   padding: 0px 20px;
	}

	.backimg{
		margin-top: 1rem;
		width: 400px;
		background-image: url('bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size:400px;
	}
	.outer-scontainer {
		width: 785px;
		margin: 0 auto;
		margin-top: 1rem;
		color: #E8E9EB;
	}

	.outer-scontainer table {
		/*border-collapse: collapse;*/
		width: 100%;
	}

	.outer-scontainer th {
		border: 1px solid #555652;
		padding: 5px;
		text-align: center;
	}

	.outer-scontainer td {
		border: 1px solid #555652;
		padding: 5px;
		text-align: center;
	}
