

.liste_orders{
    width: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #3b3b3b44;
}

.description{
    border:solid thin #d1d2d3;
    border-radius: 5px;
    padding: 15px;
    transition: border ease 1s;
}

.description:hover{
    border: 1px solid #000;
}

.product-details{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}

.nom_product{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.retirer_valider{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
}

.retirer{
    padding: 3px;
    margin-bottom: 10px;
}

.retirer button{
    padding: 7px 25px 7px 25px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.supp, .val{
    line-height: 20px;
    margin-left: 5px;
}

.trash, .check{
    font-size: 20px;
}

.ajouter button{
    padding: 7px 20px 7px 20px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background-color: #ede734;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.quantite{
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
}

.quantite_change{
    margin-left: 20px;
}

.quantite_change #qte{
    width: 50px;
}

.quantite_defined #all{
    line-height: 21px;
}

.orders_container{
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px;
    height: 55vh;
    overflow-y: auto;
}

.border_orders{
    height: 1px;
    background-color: #d1d2d3;
}

.validate_all_total{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 30px 0px 10px;
}

.validate_all button{
    padding: 7px 15px 7px 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #ede734;
    cursor: pointer;
    border: none;
}

#supprimer{
    background-color: #000;
    color: #fff;
}

.validate_all button:hover{
     transform: scale(1);
}

.total_all_price{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#max{
    margin-top: 2px;
}

.taille_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: 200px;
}

.size_defined{
    display:table;
}

#taille_mod{
    width: 70px;
    height: 25px;
}
/**/

.liste_orders .panier_vide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liste_orders .panier_vide img{
    width: 70vh;
    height: 70vh;
}

.liste_orders .panier_vide a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 77%;
}

.liste_orders .panier_vide a .arrow{
     font-size: 23px;
     margin-left: 5px;
}





