@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    padding: 0;
    margin: 0;
}


header, nav{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    background: #fff;
    transition: 0.2s;
}

.first{
    border-bottom: 1px solid #dadce0;
    padding: 10px;
}

main{
    width: auto;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 8.4rem;
}

/*************title******************/
.title a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.title .logo{
    border-radius: 30px;
    padding: 5px;
    color: #ede734;
    background-color: #12192C;
    border: none;
    appearance: none;
}

.title .compte{
    padding: 5px;
    color: #12192C;
}
/***********end title *******************/

/***********back button*********************/
.back-container{
    width: 700px;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.back{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon a i{
    font-size: 37px;
    padding-top: 3px;
    color: #ede734;
}

.phrase{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding-top: 5px;
    padding-left: 5px;
    color: #000;
}

/****************end back button**********************/

/************astuces*****************************/
.second{
    width: 700px;
    margin: 0 auto;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 20px 5px 0px 0px;
    line-height: 22px;
}

.text .text-two{
    margin-top: 0.5rem;
}

/*****************end astuces*************************/

/******************form***************************/
.third{
    width: 700px;
    margin: 0 auto;
    margin-top: 1rem; 
    border: 1.2px solid rgb(173, 172, 172);
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.third .form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*****************input*************************/
.input{
    width: 600px;
    margin-top: 2rem;
    padding-left: 20px;
}

#input-two{
    margin-top: 1.2rem;
}

.form-control1,.form-control2{
    width: 290px;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 3px;
    padding-left: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    letter-spacing: .01428571em;
    border-radius: 0;
    transition: .3s ease-in-out;
    outline: none;
}

.form-control1::placeholder{
    color: #3c4043;
    font-size: 14px;
}

.form-control2::placeholder{
    color: #3c4043;
    font-size: 14px;
}

.form-control1:focus {
    box-shadow: none;
    border-bottom:  2px solid #4285f4;
}

.form-control2:focus {
    box-shadow: none;
    border-bottom:  2px solid #4285f4;
}

label {
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    margin-left: -18.4rem;
}

.form-control1:focus + label{
    visibility: visible;
    position: relative;
    bottom: 30px;
    padding-left: 0;
    font-size: 10px;
    color:#4285f4;
    transition: .5s ease;
}

.form-control2:focus + label{
    visibility: visible;
    position: relative;
    bottom: 30px;
    padding-left: 0;
    font-size: 10px;
    color:#4285f4;
    transition: .5s ease;
  }
/****************end input**************************/

/***************titre******************************/
.titre{
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
    color: #3c4043;
    padding-left:20px;
}
.titre-one{ 
    margin-top: 1rem;
}

.titre-two{
    width: 18rem;
    line-height: 20px;
    margin-top: 0.5rem;
    color: rgba(0,0,0,0.65);
}
/*****************end titre**********************/

/************button validation************************/
.validation{
    margin-top: 1.7rem;
    padding-left: 20px;
}

.validation button{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 13.5px;
    letter-spacing: .01428571em;
    text-transform: uppercase;
    padding: 13px 10px 13px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/************end validation button*******************/

.visible{
    width: 1.5rem;
    position: relative;
    top: -1.7rem;
    left: 17rem;
    color: #aaa;
    cursor: default;
}

/**********gestion des erreurs*********/

.erreur_pass1{
    color: red;
    position: absolute;
    top: 55%;
    font-size: 13px;
    display: none;
    font-family: 'Amatic+SC' sans-serif;
}

.erreur_pass2{
    color: red;
    position: absolute;
    top: 92.5%;
    font-size: 13px;
    display: none;
}

.erreur_pass1.lancer{
    display: block;
}

.erreur_pass2.lancer_1{
    display: block;
}
