body{
	margin:0;
	font-family: sans-serif;
	background-color: #fff;
}
*{
	box-sizing: border-box;
}

.general{
    max-width: 440px;
    height: 30rem;
	background-color: #fff;
    margin:150px auto;
    margin-top:70px;
    border: 1.5px solid lightgray;
    border-radius: 8px;
    display: block;
}

.sitelogo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    left: 12rem;
    top:2rem;
}

.username{
   position: relative;
   top: 3.3rem;
   text-align: center;
   color: #000;
   font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 1.3333;
}

.usermail{
   width: 270px;
   position: relative;
   top: 3.3rem;
   left: 85px;
   text-align: center;
   border: 1px solid #dadce0;
   cursor: pointer;
   border-radius: 40px;
}

.usermail label{
   font-family: 'Google Sans',arial,sans-serif;
   font-size: 14px;
   font-weight: 550;
   letter-spacing: .25px;
   color: #3c4043;
   position: relative;
   top: 3px;
}

p{
    position: relative;
    top: 5rem;
    left: 2.7rem;
    font-size: 14px;
    white-space: normal;
    margin-bottom: 1.1rem;
}
/************************************************/

.password{
    width: 350px;
    position: relative;
    top: 5rem;
    left: 6.7%;
}
.password .form-control {
    margin-left: 15px;
    position: relative;
    height: 55px;
    font-size: 16px;
    padding: 8.7px 0px 8.7px 0.8rem;
    flex-grow: 1;
    outline: none;
    flex-shrink: 1;
    border-radius: 4px;
    color: #202124;
    transition: .4s ease-in-out;
}
.password .form-control:focus {
    box-shadow: none;
    border:  2px solid #4285f4;
    transition: .3s ease-in-out;
}


.password .text {
   visibility: hidden;
}


.password .form-control:focus + .text label{
    visibility: visible;
    position: relative;
    bottom: 4.3rem;
    left: 1.4rem;
    padding-left: 0;
    font-size: 12px;
    color:#4285f4;
    background: #fff;
   
}

/******************************/

.but{
    position: relative;
    top: 5.3rem;
    left: 19.3rem;
}

.but input{
    background: #000;
    width: 5.4rem;
    height: 2.1rem;
    font-family: 'Google Sans',arial,sans-serif;
    font-size: inherit;
    color: #ede734;
    letter-spacing: .25px;
    font-size: 13.5px;
    font-weight: 510;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 5px;
    cursor: pointer;
}